<style>
    .social-icons
    {
    padding:  10px;
    list-style:none;
    }
    .social-icons a {
    margin: 0 10px;
    font-size: 24px; /* Icon size */
    }

    .social-icons a:hover {
        color: #007bff; /* Icon hover color */
    }
</style>

<header>
    <div class="social-icons">
        <a href="https://github.com/um-csnet/malayahunter/" class="text-blue-200" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://um.edu.my/" class="text-blue-200" target="_blank"><i class="fas fa-university"></i></a>
    </div>
</header>
